@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@mixin transition-standard($property) {
  -webkit-transition: $property 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: $property 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: $property 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "PPEditorialNew";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("./fonts/PPEditorialNew/PPEditorialNew-Ultralight.woff")
      format("woff"),
    url("./fonts/PPEditorialNew/PPEditorialNew-Ultralight.woff2")
      format("woff2");
}
@font-face {
  font-family: "PPEditorialNew";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("./fonts/PPEditorialNew/PPEditorialNew-UltralightItalic.woff")
      format("woff"),
    url("./fonts/PPEditorialNew/PPEditorialNew-UltralightItalic.woff2")
      format("woff2");
}

h1,
h2,
h3,
h4,
a {
  font-family: "PPEditorialNew", serif;
  font-weight: 100;
}

p {
  font-family: "DM Sans", sans-serif;
}

body {
  background: #f7f0eb;
}

h1 {
  font-size: 110px;
  letter-spacing: -1px;
  line-height: 1;
  color: #1d1d1f;
  &.White {
    color: #ffffff;
  }
  @media (max-width: 768px) {
    font-size: 86px;
  }
  @media (max-width: 550px) {
    font-size: 74px;
    line-height: 1.2;
  }
}

h2 {
  font-style: normal;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0;
  &.White {
    color: #ffffff;
  }
  @media (max-width: 768px) {
    font-size: 42px;
    line-height: 50px;
  }
  @media (max-width: 550px) {
    font-size: 36px;
    line-height: 42px;
  }
}

h3 {
  font-size: 36px;
  line-height: 1.16667;
  color: #1d1d1f;
  font-style: normal;
  letter-spacing: -1px;
  &.Bold {
    font-weight: 700;
  }
  &.White {
    color: #ffffff;
  }
  @media (max-width: 550px) {
    font-size: 32px;
  }
}

h4 {
  font-size: 18px;
  line-height: 22px;
  color: #1d1d1f;
  &.White {
    color: #ffffff;
  }
}

p {
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #373737;
  &.White {
    color: #ffffff;
  }
}

a {
  color: #1d1d1f;
  text-decoration: underline;
  border-bottom: 2px solid rgba(17, 87, 190, 0);
  @include transition-standard(border-bottom);
  &:focus {
    color: #888;
  }
  &:hover {
    text-decoration: none;
  }
}

.Color-Black {
  color: #1d1d1f;
}
